*.iml
.gradle
/local.properties
/.idea/workspace.xml
.idea/misc.xml
/.idea/caches/
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/google-services.json
/app/src/gplay/google-services.json
/app/src/xdaedition/google-services.json

secret-env-plain
