<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noshufou.android.su"
    android:versionCode="8"
    android:versionName="2.0.3"
    android:sharedUserId="android.uid.system">
    
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />

    <application android:icon="@drawable/icon" android:label="@string/app_name_perms">
        <activity android:name=".Su"
            android:label="@string/app_name_perms"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SuRequest"
            android:label="@string/app_name_request"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
